<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25880015349-gh4quj8orem7gdt8bcovapb9opfp9lto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25880015349-gh4quj8orem7gdt8bcovapb9opfp9lto</string>
	<key>API_KEY</key>
	<string>AIzaSyC2aqjMnU2ytxxH2xjsJRyywiMhy_MzJNs</string>
	<key>GCM_SENDER_ID</key>
	<string>25880015349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bundle.solutions.money</string>
	<key>PROJECT_ID</key>
	<string>money-control-56ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>money-control-56ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25880015349:ios:d0af6efdf0f9c958a3f0bc</string>
	<key>DATABASE_URL</key>
	<string>https://money-control-56ccb.firebaseio.com</string>
</dict>
</plist>